* {
  font-style: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Fonts */
h1, h2 {
    font-weight: bold;
    text-align: center;
}

h3, h4, h5, p {
    text-align: justify;
}

header {
    background-color:aquamarine;
}

header nav {
    background-color: bisque;
}

main {
    background-color: azure;
}
footer{
    background-color: aqua;
}

h1 {
    color:black;
    text-align: center;
    font-weight: bolder;
}
figure{
    margin: 5px;
    border: 1px solid #ccc;
    width: 550px;
    
}

figure img{
    width: 500px;
}

/*        -------------       Clases en CSS        ------------------  */

.back-img{
    background-image: url(/Full-Stack/Css/images/estaciones-climaticas.jpg);
    background-size: cover;
    background-position: bottom center;
    height: 300px;
    border-radius: 30%;
}
.primavera h2{
    color: green;
}

.verano h2 {
    color: orange;
}

.otono h2{
    color: brown
}

.invierno h2{
    color: blue;
}

.title {
    border: 3px solid whitesmoke;
}


/* ------------------         ID en CSS             ------------------ */
#p-primavera{

}

#p-verano{

}
#p-otono{

}
#p-invierno{

}



/* --------------          Atributos en css           ------------------ */

a[href*='Primavera']{
    color:green;
}
a[href*='Verano']{
    color:orange;
}
a[href*='20invierno']{
    color:brown;
}

a[href*='Invierno']{
    color:blue;
}

a:hover{
    color:coral;
}

/*----------- /*----------- Multiple Selectors /*-----------/*----------- */

p,
.mas-info {
    font-family: 'Courier New', Courier, monospace;
}


/*---------/*--------------* Borders --/*----------/*----------------*/ 

.primavera{
    border: 2px dotted green;
}
.verano{
    border: 2px dotted orange;
}
.otono{
    border: 2px dotted brown;
}
.invierno{
    border: 2px dotted blue;
}