/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

:root{
    /* COLOR PRIMARY */
    --color-dark-cyan: hsl(158, 36%, 37%);
    --color-cream: hsl(30, 38%, 92%);

    /* COLOR NEUTRAL */
    --very-dark-blue: hsl(212, 21%, 14%);
    --dark-grayish-blue: hsl(228, 12%, 48%);
    --color-white: hsl(0, 0%, 100%);

    /* DISPLAY */
    --max-width-display: 1440px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* RESPONSIVE */
@media (max-width: 475px) {
    .container {
        flex-direction: column;
    }

    .container .image {
        margin-bottom: -10px;
    }

    .container .image img {
        border-radius: 15px;
    }

    .container .text {
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    .footer {
        display: none;
    }
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background: var(--color-cream);
    font-size: 62.5%;
}

.container {
    display: flex;
}

.container .image {
    height: 100%;
    width: 317.3px;
}

/* IMAGE */
.container .image img {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

/* TEXT */
.container .text {
    background: var(--color-white);
    height: 475px;
    width: 320px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* ------------------------------------ */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.container .text span {
    font-weight: 500;
    font-size: 12px;
    align-self: start;
    letter-spacing: 4px;
}

.container .text .titulo {
    font-family: 'Fraunces', sans-serif;
    font-weight: 700;
    font-size: 37px;
    line-height: 35px;
}

.container .text .info {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
}

/* PRICE */
.container .text .price {
    font-family: 'Fraunces', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-left: -25%;
}

.container .text .price p {
    font-size: 30px;
    color: var(--color-dark-cyan);
}

.container .text .price s {
    font-size: 13px;
    color: var(--dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
}

/* BUTTON */
.container .text button {
    background: var(--color-dark-cyan);
    color: var(--color-white);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    border: none;
    border-radius: 7px;
    height: 45px;
    width: 100%;
    padding-left: 42px;
    padding-right: 42px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.4s;
}

.container .text button:hover {
    background-color: hsl(158, 36%, 20%);
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
}

.footer .attribution {
    font-size: 11px;
    text-align: center;
}

.footer .attribution a {
    color: hsl(228, 45%, 44%);
}