*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    color: whitesmoke;
    background-color: rgb(40, 40, 168);
    padding: 10px;
    font-size: large;
}
header{
    height: 200px;
    background-color: cornflowerblue;
    padding: 20px 0px;
    text-align: center;
    border: 3px solid white;
    margin-bottom: 20px;
}
nav{
    height: 50px;
    width: auto;
    background-color: whitesmoke;
}

nav ul li{
    display: inline-block;
    color: cornflowerblue;
    
    
}
nav ul li a{
    display: block;
    height: 50px;
    padding: 10px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: cornflowerblue;
    text-transform: capitalize;
}

nav ul li a:hover{
    background-color: cornflowerblue;
    color:  white;
    font-size: 18px;
}

main{
    background-color:cornflowerblue ;
    padding: 20px;
    border: 3px solid whitesmoke;
}

article{
    padding: 30px;
    margin: 15px;
}

h1, h2 {
    text-align: center;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    background-color: whitesmoke
}



footer{
    background-color: blue;
}

#introduction, #display{
    padding: 40px;
    margin: 20px;
    border: 3px solid whitesmoke;
    border-radius: 3%;
    background-color: sandybrown;
}

#browser-link-styles, #float{
    padding: 40px;
    margin: 20px;
    border: 3px solid whitesmoke;
    border-radius: 3%;
    background-color: darkslateblue;
}

.example{
    display: inline-block;
    width: 300px;
    height: 70px;
    background-color: whitesmoke;
    margin: 20px
}

.example a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}