*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

body{
    color: whitesmoke;
    background-color: rgb(40, 40, 168);
    padding: 10px;
    font-size: large;
}
header{
    height: 200px;
    background-color: cornflowerblue;
    padding: 20px 0px;
    text-align: center;
    border: 3px solid white;
    margin-bottom: 20px;
}
nav{
    height: 50px;
    width: auto;
    background-color: whitesmoke;
}

nav ul li{
    display: inline-block;
    color: cornflowerblue;
    
    
}
nav ul li a{
    display: block;
    height: 50px;
    padding: 10px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: cornflowerblue;
    text-transform: capitalize;
}

nav ul li a:hover{
    background-color: cornflowerblue;
    color:  white;
    font-size: 18px;
}

main{
    background-color:cornflowerblue ;
    padding: 20px;
    border: 3px solid whitesmoke;
}

article{
    padding: 30px;
    margin: 15px;
}

h1, h2 {
    text-align: center;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: black;
    background-color: whitesmoke
}



footer{
    background-color: blue;
}

#introduction, #display{
    padding: 40px;
    margin: 20px;
    border: 3px solid whitesmoke;
    border-radius: 3%;
    background-color: sandybrown;
}

#browser-link-styles, #float{
    padding: 40px;
    margin: 20px;
    border: 3px solid whitesmoke;
    border-radius: 3%;
    background-color: darkslateblue;
}

.example{
    display: inline-block;
    width: 300px;
    height: 70px;
    background-color: whitesmoke;
    margin: 20px
}

.example a, .example p {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.button {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
  }
  
  .skeuomorphic {
    border: 2px solid #0c960c;
    border-radius: 5px;
    color: #F8F8F8;
    text-shadow: 0 -2px #006bb3;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 0px -2px 2px rgba(255, 255, 255, 0.5) inset, 0 2px 2px rgba(255, 255, 255, 0.8) inset;
    background: #1D1;
    background: linear-gradient(#1D1, #0ebc0e);
    text-shadow: 0 -2px #0c960c;
    
  }
  
  .skeuomorphic:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
    background: #0ebc0e;
    background: linear-gradient(#0ebc0e, #0c960c);
    border-color: #064f06;
  }
  
  .skeuomorphic:active {
    margin-top: 2px;
    margin-bottom: -2px;
    box-shadow: 0px 2px 2px rgba(63, 63, 63, 0.1), 0px -2px 2px rgba(255, 255, 255, 0.25) inset, 0 2px 2px rgba(255, 255, 255, 0.4) inset;
    background: #0c960c;
    background: linear-gradient(#0c960c, #0ebc0e);
  }
  
  .flat {
    background-color: #1D1;
    color: #fff;
    border: 2px solid #12dd23;
    border-radius: 10px;
  }
  
  .flat:hover {
    background-color: #0c960c;
    transition: background-color .15s, font-size .15s;
    font-size: 18px;
  }
  
  .flat:active {
    border-color: #fff;
  }