img{
    width: 400px;
}


code{
    background-color: #eae9ed;
    font-family: 'Courier New', Courier, monospace;
    padding: 0 0.25rem;
    margin: 0 0.0625rem;
    border-radius: 0.125rem;
    color: black;
    white-space: normal;
    vertical-align: baseline;
}