@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

:root {
    /* ### Primary */
    --primary: hsl(4, 100%, 67%);
    --primary-light: hsla(4, 100%, 67%, .3);
    --secundary: #ff9546;
    
    /* ### Neutral */
    --dark-slate-grey: hsl(234, 29%, 20%);
    --charcoal-grey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    
    /* ## Typography */
    /* ### Body Copy */
    --p-font-size: 16px;
}
body {
    background-color: var(--dark-slate-grey);
}

li, 
a {
    list-style: none;
    text-decoration: none;
}
p {
    color: var(--dark-slate-grey);
    font-size: var(--p-font-size);
}
label {
    color: var(--dark-slate-grey);
    font-weight: 700;
}

h1 {
    color: var(--dark-slate-grey);
    font-size: 55px;
}

.container {
    display: flex;
    flex-direction: column;
}

.content {
    margin: 30px auto;
    top: 50%;
    width: 850px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    display: flex;
    justify-content: center;
}

.content h1 {
    line-height: 2rem;
}

.information {
    padding: 40px;
}

.information-list {
    margin: 0;
    padding: 0;
    line-height: .5rem;
}
.information-item {
    display: flex;
    flex-direction: row;
}

.information-item img {
    padding-right: 15px;
}

.information-form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    justify-content: start;
}
.information-form label {
    margin: 10px 0;
}
.information-form input {
    border: 1px solid var(--grey);
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 15px;
}

.btn {
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 15px;
    color: var(--white);
    font-weight: 700;
    background-color: var(--dark-slate-grey);
}

.btn:hover {
    background: linear-gradient(90deg, var(--primary) 0%, var(--secundary) 100%);
    color: white;
    box-shadow: 0 10px 10px var(--primary-light);
}

.attribution { 
    margin-top: 10px;
    color: gray;
    font-size: 11px; 
    text-align: center; 
}

.success-message {
    display: none;
    width: 350px;
    margin: 30px auto;
    border-radius: 30px;
    padding: 40px;
    background-color: white;
}

.success-message h1 {
    margin: 30px 0 10px;
    line-height: 3.5rem;
}
.success-message img{
    width: 50px;
    height: 50px;
}

.attribution a { color:white }